.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

// Form

.grid-form {
    max-width: 400px;
    width: 100%;
    padding: 20px 0px;
    background-color: #ffff;
}

.form-register {
    padding: 0px 20px;
    background-color: #ffff;
    position: relative;
}

.form-logo {
    margin: auto;
    width: 100px;
} 

// Form group

.form-group {

    .form-group-input {
        width: 100%;
        border: 1px solid #ccc;
        height: var(--input-login-height);
    }
}

// Password

.icon-action-password {
    top: 8px;
    right: 8px;
    padding: 7px 6px;
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    border-radius: 50%;
    -webkit-user-select: none;

    svg {
        width: 16px;
        display: block;
    }
    &:hover {
        background-color: #cccc;
    }
}

// Button

.button-register {
    color: #ffff !important;
    background-color: #0190f3 !important;

    &:hover {
        background-color: #0184e0 !important;
    }
}

.button-login {
    margin: auto;
}

// Animation

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}