/* Scroll */

.dev-scroll {
    overflow-y: auto;
}

.dev-scroll::-webkit-scrollbar {
    position: absolute;
    width: 8px;
}

.dev-scroll::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

.dev-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #9ca7b0c8;
}

/* Form group */

.dev-form-group {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.dev-form-group input {
    padding-left: 15px;
    padding-right: 40px;
    /* border: none; */
    outline: none;
    border-radius: 4px;
    line-height: 1.2;
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
}
.dev-form-group input:focus {
    border: 1px solid #1ab1d3;
    box-shadow: inset 0px 0px 1px #1ab1d3;
}

.dev-title-input {
    display: block;
    margin-bottom: 8px;
    -webkit-user-select: none;
}

.dev-input-warning {
    border: 1px solid red !important;
}

.dev-form-alert-warning {
    color: red;
}

/* Button */

.dev-button-auto {
    width: 100%;
    height: 45px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    background-color: #ccc;
    outline: none;
    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
}

.dev-button-lg {
    max-width: 200px;
    height: 45px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    background-color: #ccc;
    outline: none;
    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
}

.dev-button-danger {
    border: 1px solid red !important;
    box-shadow: inset 0px 0px 1px red !important;
}

/* Devider */

.dev-devider {
    width: 100%;
    height: 0px;
    border-top: 1px solid #dddd;
}

/* Column */

.dev-col-12 {
    width: 100%;
    padding: 0px 5px;
}
.dev-col-10 {
    width: 83.33333333333333%;
    padding: 0px 5px;
}
.dev-col-8 {
    width: 66.66666666666667%;
    padding: 0px 5px;
}
.dev-col-6 {
    width: 50%;
    padding: 0px 5px;
}
.dev-col-4 {
    width: 33.33333333333333%;
    padding: 0px 5px;
}
.dev-col-3 {
    width: 25%;
    padding: 0px 5px;
}
.dev-col-2 {
    width: 16.66666666666667%;
    padding: 0px 5px;
}
.dev-col-1 {
    width: 8.333333333333333%;
    padding: 0px 5px;
}

/* Text more */

.dev-text-more {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

/* Customize */

.infinite-scroll-component__outerdiv {
    width: 100%;
}

/* Skeleton */

.dev-skeleton {
    background: linear-gradient(
        90deg,
        hsl(210, 15%, 88%),
        hsl(210, 15%, 95%),
        hsl(210, 15%, 88%)
    );
    background-size: 200%;
    animation: loader 2s infinite reverse;
}

@keyframes loader {
    from {
        background-position: -100% 0;
    }
    to {
        background-position: 100% 0;
    }
}
