:root {

    --text-color: #333;


    // Header
    --header-color: #0091ff;

    // Login
    --input-login-height: 45px;

    // Button
    --button-hover: #eeeff2;


}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    behavior: smooth;
    background-color: #eeee;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

// DEV CUSTOMIZE

