:root {

    --text-color: #333;


    // Header
    --header-color: #0091ff;


}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    behavior: smooth;
}

a {
    text-decoration: none;
}

// DEV CUSTOMIZE

