
// Form

.form-group {
    padding: 0px 15px;
}

//---

.title-name {
    font-size: 25px;
    padding: 15px 0px;
    margin: 0px 15px;
    text-align: center;
}

.grid-image {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    // box-shadow: 0px 0px 12px blue;

    display: flex;
    align-items: center;
    justify-content: center;

    
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.grid-icon-hover {
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    
    .icon-camera {
    
        svg {
            fill: #555;
            width: 30px;
            display: block;
        }
    }
}

.grid-icon-hover {
    display: none;
    animation: fadeIn 0.1s linear;
}

.grid-image:hover .grid-icon-hover {
    display: flex !important;
}

// Button

.button-upload-avatar {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    color: #ffff !important;
    background-color: #3847bf !important;

    &:hover {
        background-color: #4050ca !important;
    }
}

// form warning

.form-warning {
    text-align: center;
    margin-top: 20px;
}

// Animation

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}