
.avatar {
    -webkit-user-select: none;
}

.avatar-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.avatar-image.size-big {
    width: 200px;
    height: 200px;
}