:root {
    --header-height: 60px;
    --content-header-height: 50px;
    --content-footer-height: 70px;
}

.wrapper {
    display: flex;
    max-width: 1400px;
    margin: auto;
    height: calc(100vh - 60px);

    -webkit-user-select: none;
}

.container {
    width: 100%;
}

//---


// ---

.content-default-message {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 440px;

    .image-default-message {
        width: 100%;
    }
    .container-title-welcome {
        font-size: 22px;
        margin-bottom: 20px;

        span {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .container-title-des {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

// Responsive

@media (max-width: 800px) {
    .container {
        width: 0px !important;
        overflow: hidden;
    }
    .container.checked {
        width: 100% !important;
        overflow: hidden;
    }
}


