:root {
    --header-height: 60px;
    --content-header-height: 50px;
    --content-footer-height: 70px;
}

.wrapper {
    display: flex;
    max-width: 1400px;
    margin: auto;
    height: calc(100vh - 60px);

    -webkit-user-select: none;
}

.container {
    width: 100%;
}

// Icon

.icon-action-come-back {
    padding: 10px 12px 10px 9px;
    border-radius: 50%;
    cursor: pointer;

    svg {
        width: 15px;
        display: block;
        fill: #333;
    }
    &:hover {
        background-color: #eeee;
    }
}

//---

.content-message {
    display: flex;
    flex-direction: column;

    .content-header {
        width: 100%;
        height: var(--content-header-height);
        padding: 0px 15px;
        border-bottom: 1px solid #eeee;

        display: flex;
        align-items: center;
    }
    .list-messages {
        overflow: auto;
        padding: 15px 15px;
        background-color: #f8f8f8;
        height: calc(100vh - var(--header-height) - var(--content-header-height) - var(--content-footer-height));
    }
}

.header-grid-info {
    display: flex;
    align-items: center;

    .avatar-others {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        border-radius: 50%;
        object-fit: cover;
    }
    .grid-info-name {
        padding-left: 10px;
        font-size: 16px;
    }
}

// Item message

.grid-message-row {
    display: flex;
    margin-bottom: 10px;

    .messages-item {
        max-width: 45%;
        padding: 15px;
        border-radius: 6px;
        word-wrap: break-word;
        display: inline-block;
        background-color: #ffff;
        box-shadow: 0px 1px 3px #ccc;
        -webkit-user-select: text;

        &.youSent {
            background-color: #e5efff !important;
            margin-left: auto;
        }

        .messages-item-msg {
            font-size: 15px;
            margin-bottom: 10px;
        }
        .messages-item-time {
            font-size: 13px;
        }
    }
}

// Content footer send 

.content-footer {
    height: var(--content-footer-height);
    background-color: #ffff;

    .content-footer-grid {
        width: 100%;
        position: relative;

        display: flex;
        align-items: center;
    }

    .footer-input-sent {
        height: 50px;
        font-size: 16px;
        // padding: 0px 15px;
                
        padding-left: 15px;
        padding-right: 60px;


        border: none;
        border: 1px solid transparent;
        outline: none;
        flex: 1;
        
        &:focus {
            color: #333;
            border-top: 1px solid #006edc;
        }
    }
}

// Footer action 

.footer-grid-action {
    padding: 0px 15px;
    position: absolute;
    right: 0px;
    display: block;
    
    .footer-action-send {
        border-radius: 4px;
        font-weight: 500;
        color: #0068ff;
        cursor: pointer;
        padding: 6px 10px;

        &:hover {
            background-color: #e5efff;
        }
    }
}

// ---

.content-default-message {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;

    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 440px;

    .image-default-message {
        width: 100%;
    }
    .container-title-welcome {
        font-size: 22px;
        margin-bottom: 20px;

        span {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .container-title-des {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

// Responsive

@media (max-width: 800px) {
    .container {
        width: 0px !important;
        overflow: hidden;
    }
    .container.checked {
        width: 100% !important;
        overflow: hidden;
    }
}

@media (max-width: 600px) {
    .messages-item {
        max-width: 55% !important;
    }
}
