/* Spinner */

.spinner {
    fill: #1c64f2;
    color: rgb(229, 231, 235);

    animation: spinner 1s infinite linear;
}

.text-loading {
    font-size: 15px;
    margin-top: 15px;
}

// set prop

.size-sm {
    height: 20px;
    width: 20px;
}

.size-lg {
    height: 40px;
    width: 40px;
}

.size-auto {
    height: 40px;
    width: 40px;
    // margin-right: auto;
    // margin-left: auto;
}

// Modal

.modal {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    color: #1c64f2;
    z-index: 1001;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-auto {
    width: 100%;
    display: flex;
    align-items: center;
}

// -------

/* Animation */


@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}