.wrapper {
    width: 100%;
    background-color: #0091ff;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0px 15px;

    display: flex;
    align-items: center;
}