.content-sidebar {
    top: 60px;
    position: sticky;
    background-color: #ffff;
}

.content-sidebar-title {
    padding: 15px 0px;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: 600;
}

.content-sidebar-list-item {
    height: calc(100vh - var(--header-height));
}

// Item user

.item-user {
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
    padding: 15px 0px;
    margin: 0px 15px;

    .item-user-image {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    .item-user-name {
        flex: 1;
        flex-wrap: wrap;
        padding-left: 10px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
}
