// Form message loading

.form-msg-loading {
    width: 100%;
    height: 100vh;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {
        width: 100px;
    }
    .loading {
        margin-top: 20px;
    }
}