

.card-comment-create {
    display: flex;
    margin: 15px 0px 0px 0px;
    padding: 0px 15px;
}

.frames-input-comment {
    width: 100%;
    margin-left: 8px;

    display: flex;
    align-items: center;

    .input-text {
        flex: 1;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 22px;
        outline: none;
        border: 1px solid #ccc;
        font-family: Arial, Helvetica, sans-serif;
    }
}

// 

.card-comment-list-comment {
    padding: 10px 0px;
}

.item-comment {
    display: flex;
    margin: 15px 0px;
    padding: 0px 15px;

    .item-comment-frames-msg {
        margin-left: 10px;
        padding: 8px 10px;
        border-radius: 10px;
        background-color: #f0f2f5;
    }
}

.frames-msg-name {
    font-size: 16px;
    font-weight: 600;
}

.frames-msg-text {

}

// btn-show-more

.btn-show-more {
    width: 100%;
    cursor: pointer;
    padding: 5px 15px;

    &:hover {
        text-decoration: underline;
    }
}

// btn-more-action

.item-comment:hover .btn-more-action {
    display: flex;
}

.btn-more-action {
    margin-left: 10px;
    display: none;
    align-items: center;
    
    .icon-solid-action {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #eeee;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            display: block;
        }
    }    
}

.action-delete-comment {
    cursor: pointer;
    padding: 10px 15px;

    &:hover {
        background-color: #eeee;
    }
}

