.content {
    width: 100%;
    background-color: #eeee;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: auto;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0px;
    margin: 0px 15px;
}

.grid-form-info {
    display: flex;
}

// Response

@media (max-width: 800px) {
    .grid-form-info {
        flex-direction: column !important;
        align-items: center;
    }
    .form-upload-avatar {
        width: 100% !important;
    }
}